html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.box {
  border: 1px grey solid;
  border-radius: 1%;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  padding: 1rem;
  margin: 1rem;
}


.selector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin: 1rem;
}

/* Checkboxes styles */
.languages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}

/* Table styles  */

table {
  font-size: 1.4rem;
}

.difficulty-easy {
  background-color: #c3e6cb;
}

.difficulty-medium {
  background-color: #ffeeba;
}

.difficulty-high {
  background-color: #f5c6cb;
}

table {
  display: table;
  border-spacing: 2px;
  border-color: grey;
  border-collapse: collapse;
  width: 100%;
  min-width: 100%;
}

th {
  background-color: #212529;
  color: white;
}

td, th {
  display: table-cell;
  border: 1px solid #e9ecef;
  padding: .3rem;
}

.language-feature {
  text-align: right;
}

.category {
  background-color: #0c2b49;
  color: white;
}

li {
  list-style-type: none;
}

.centered-text {
  text-align: center;
}